.card {
  background-color: white;
  border: 1px black solid;
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}

.card__none {
  background-color: transparent;
  border: 1px yellow solid;
  width: 50px;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}

.card--facedown {
  border: solid 1px white;
  background-color: cyan;
}

.card__textred {
  color: red;
}
.card__textblack {
  color: black;
  margin: 0;
  padding: 0;
}
.card p {
  user-select: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
}
.card--selected {
  background-color: yellow;
}
